# ignore the Super-resolution data directory
/Super-resolution/data/

# ignore the trained model file
/Super-resolution/superresolution_unet.h5
/Super-resolution-new/data


# virtual environments
/.venv/
/venv311/

# macOS metadata
.DS_Store
Super-resolution/super-resolution-benchmarks.zip
